

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply  text-[#232428] bg-custom-white;
  }
}

  
  @layer components {
    .headerLink {
      @apply cursor-pointer opacity-75 transition hover:opacity-100;
    }
  
    .headerIcon {
      @apply h-8 w-8 cursor-pointer opacity-75 transition hover:opacity-100;
    }
  
    .link {
      @apply relative cursor-pointer text-lg font-medium before:absolute before:inset-x-0 before:-bottom-1.5 before:h-0.5 before:origin-left before:scale-x-0 before:transform before:rounded-bl before:bg-black before:transition-all before:duration-200 hover:before:scale-x-100;
    }
  
    .borderGradient {
      text-align: center;
      padding-bottom: 5px;
      background: linear-gradient(to right, #ec4899, #8b5cf6) left bottom
        no-repeat;
      background-size: 100% 2px;
    }
  
    .tabPanel {
      @apply grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3;
    }
  }






/*****  LOADER  *****/

.svg {
  transform: rotate(45deg);
  position: fixed;
  bottom: 20px;
  right: 40px;
}

.gradient {
  animation-iteration-count: infinite;
  animation-duration: 1s;
  fill: url('#gradient-fill');
}
.square {
  animation-iteration-count: infinite;
  animation-duration: 2s;
  transition-timing-function: ease-in-out;
}

.s1 {
  animation-name: slide-1;
}

.s2 {
  animation-name: slide-2;
}

.s3 {
  animation-name: slide-3;
}

.s4 {
  animation-name: slide-4;
}

.s5 {
  animation-name: slide-5;
}

.s6 {
  animation-name: slide-6;
}

.s7 {
  animation-name: slide-7;
}

@keyframes slide-1 {
  37.5% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(100px);
  }
}

@keyframes slide-2 {
  25% {
    transform: translateX(0px);
  }
  37.5% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(100px);
  }
}

@keyframes slide-3 {
  12.5% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(100px);
  }
}

@keyframes slide-4 {
  50% {
    transform: translateY(0px);
  }
  62.5% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(-100px);
  }
}

@keyframes slide-5 {
  12.5% {
    transform: translate(-100px, 0px);
  }
  87.5% {
    transform: translate(-100px, 0px);
  }
  100% {
    transform: translate(-100px, 100px);
  }
}

@keyframes slide-6 {
  62.5% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(-100px);
  }
}

@keyframes slide-7 {
  75%  {
    transform: translateX(0px);
  }
  87.5% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(-100px);
  }
}
